<!-- footer -->

<footer class="bakery-footer">
  <div class="footer-background">
    <div class="container">
      <div class="row footer-content">
        <div class="col-md-6 footer-section">
          <img src="../../../assets/img/logo_footer.png" class="pb-5" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut diam et nibh condimentum venenatis eu ac
            magnasin.</p>
          <div class="footer-icons">
            <a href="#"><fa-icon [icon]="facebook_icon"></fa-icon></a>
            <a href="#"><fa-icon [icon]="instagram_icon"></fa-icon></a>
            <a href="#"><fa-icon [icon]="twitter_icon"></fa-icon></a>
            <a href="#"><fa-icon [icon]="google_icon"></fa-icon></a>
          </div>
        </div>
        <div class="col-md-2 footer-section">
          <h2>ABOUT</h2>
          <ul>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; About Us</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Services</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Testimonial</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; FAQ</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Payment</a></li>
          </ul>
        </div>
        <div class="col-md-2 footer-section">
          <h2>CONTACTS</h2>
          <ul>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Contact Us</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Book a Table</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Cost Calc.</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Our Chef</a></li>
          </ul>
        </div>
        <div class="col-md-2 footer-section">
          <h2>PARTNERS</h2>
          <ul>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Wedding</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Cake Decorator</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Restaurant</a></li>
            <li><fa-icon [icon]="faAngleRight"></fa-icon><a href="#">&nbsp; Coffee Shop</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 footer-copyright">
          <p>Copyright MaHmOuD</p>
        </div>
      </div>
    </div>
  </div>
</footer>
  
  
  