<div class="container-fluid p-0">
  <section class="main">
    <div class="bg">
      <img src="/assets/img/black-bg.jpg" alt="" class="img-fluid" />
    </div>
    <div class="forground">
      <img src="/assets/img/croissant.png" alt="" class="img-fluid croissant" />
    </div>
  </section>
</div>
<!-- section2 -->

<section>
  <div class="sec2">
    <h2>Coffee Menu</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex officiis
      itaque tempora architecto ducimus libero voluptatum illum maiores eum
      ipsum? Neque voluptatum, tempora quisquam magnam amet saepe omnis facilis
      sapiente.
    </p>
  </div>
</section>

<!-- carousel -->
<swiper-container
  slides-per-view="1"
  speed="500"
  loop="true"
  pagination-dynamic-bullets="true"
  effect="fade"
>
  <swiper-slide class="swiper-item row"
    ><div class="left col-md-6">
      <div class="image text-center">
        <img src="assets/img/cinamon.png"  alt="" class="img-fluid w-75" />
      </div>
    </div>
    <div class="right pt-5 col-md-6">
      <div class="image">
        <img src="assets/img/second_2.png" alt="" class="img-fluid" />
      </div>
      <div class="box align-items-center">
        <h2 class="title">Cinnamon Bun</h2>
        <p class="sec-title">The Best Ever Vegan</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          eligendi!
        </p>
        <button class="btn mt-5">View Full Menu</button>
      </div>
    </div></swiper-slide
  >
  <swiper-slide class="swiper-item row"
    ><div class="left col-md-6">
      <div class="image text-center">
        <img src="assets/img/2.png" alt="" class="img-fluid w-75" />
      </div>
    </div>
    <div class="right col-md-6 pt-5">
      <div class="image">
        <img src="assets/img/second_2.png" alt="" class="img-fluid" />
      </div>
      <div class="box align-items-center">
        <h2 class="title">Espresso</h2>
        <p class="sec-title">Espresso Blend<br />Locally Roasted</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          eligendi!
        </p>
        <button class="btn mt-5">View Full Menu</button>
      </div>
    </div></swiper-slide
  >
  <swiper-slide class="swiper-item row"
    ><div class="left col-md-6">
      <div class="image text-center">
        <img src="assets/img/3.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="right col-md-6 pt-5">
      <div class="image">
        <img src="assets/img/second_2.png" alt="" class="img-fluid" />
      </div>
      <div class="box align-items-center">
        <h2 class="title">Black Tea</h2>
        <p class="sec-title">The Best Tea Ever</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          eligendi!
        </p>
        <button class="btn mt-5">View Full Menu</button>
      </div>
    </div></swiper-slide
  >
</swiper-container>

<!-- Section3 -->
<section>
  <div class="coffee-bg">
    <div class="img">
      <img src="../../../assets/img/coffee-pot.png" class="img-fluid" alt="" />
    </div>
  </div>
</section>
<!-- Section2 -->

<section class="coffee">
  <div class="row bg">
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/cappuccine.png" class="img-fluid" alt="" />
        <img src="assets/img/coffee-icon.png" class="img-fluid icon" alt="" />
      </div>

      <div class="title text-center">
        <h2>cappuccine</h2>
      </div>
    </div>
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/caramel.png" class="img-fluid" alt="" /><img
          src="assets/img/coffee-icon.png"
          class="img-fluid icon"
          alt=""
        />
      </div>
      <div class="title text-center">
        <h2>Caramel Macchiatto</h2>
      </div>
    </div>
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/chocolate.png" class="img-fluid" alt="" /><img
          src="assets/img/coffee-icon.png"
          class="img-fluid icon"
          alt=""
        />
      </div>
      <div class="title text-center">
        <h2>Cioccolato-macchiato</h2>
      </div>
    </div>
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/coffee.png" class="img-fluid" alt="" /><img
          src="assets/img/coffee-icon.png"
          class="img-fluid icon"
          alt=""
        />
      </div>
      <div class="title text-center">
        <h2>Caffe Latte</h2>
      </div>
    </div>
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/corrette.png" class="img-fluid" alt="" /><img
          src="assets/img/coffee-icon.png"
          class="img-fluid icon"
          alt=""
        />
      </div>
      <div class="title text-center">
        <h2>corrette</h2>
      </div>
    </div>
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/doppie.png" class="img-fluid" alt="" /><img
          src="assets/img/coffee-icon.png"
          class="img-fluid icon"
          alt=""
        />
      </div>
      <div class="title text-center">
        <h2>doppie</h2>
      </div>
    </div>
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/espresso.png" class="img-fluid" alt="" /><img
          src="assets/img/coffee-icon.png"
          class="img-fluid icon"
          alt=""
        />
      </div>
      <div class="title text-center">
        <h2>espresso</h2>
      </div>
    </div>
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/freshcoffee.png" class="img-fluid" alt="" /><img
          src="assets/img/coffee-icon.png"
          class="img-fluid icon"
          alt=""
        />
      </div>
      <div class="title text-center">
        <h2>freshcoffee</h2>
      </div>
    </div>
    <div class="coffee-box text-center col-md-6 col-lg-4">
      <div class="img">
        <img src="assets/img/hotwater.png" class="img-fluid" alt="" /><img
          src="assets/img/coffee-icon.png"
          class="img-fluid icon"
          alt=""
        />
      </div>
      <div class="title text-center">
        <h2>Americano</h2>
      </div>
    </div>
  </div>
</section>

